body {
    display: flex;
    flex-direction: column;
}

.outer-container {
    display: flex;
    flex: 1 0 0;
    background-color: #1F2937;
}

.container{
    width: 600px;
    display: flex;
    margin: 5px auto 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header .links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    gap: 12px;
}

.top {
    align-items: center;
    justify-content: space-between;
}

.top-text {
    width: 50%;
}
.top-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.top-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.top-img {
    width: 50%;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid #3882F6;
    padding: 2px 12px;
}